My workflow 2 (1).json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1syoaBio9iH43dYpayL6zlqw9kD8vne-t",
          "mode": "id"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "c331c019-349c-4ebc-ae3d-9a3dc994d290",
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        64,
        16
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "g9Sql0c0y3cNWqy7",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "fileName": "={{ $json.name }}"
        }
      },
      "id": "87049fd2-8a5d-4dbe-974e-dc44fe1a63f4",
      "name": "Download PDF from Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        288,
        16
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "g9Sql0c0y3cNWqy7",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "a7091d8f-e3d1-48b8-9528-583429e0ed04",
      "name": "Extract Text from PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        512,
        16
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract ALL exam questions from the text below and return them as a JSON array.\n\nEach object must have exactly these fields:\n- \"question\": the full question text (string)\n- \"options\": an array of answer options (array of strings, e.g. [\"A. ...\", \"B. ...\"]). Use an empty array [] if the question is open-ended.\n- \"answer\": the correct answer, or null if not provided (string or null)\n- \"topic\": your best guess at the topic/subject of the question (string)\n- \"source_file\": the name of the source PDF file (string)\n\nCRITICAL OUTPUT RULES:\n1. Your ENTIRE response must be a single JSON array starting with [ and ending with ].\n2. Do NOT include markdown code fences (no ```).\n3. Do NOT include any text, explanation, or commentary before or after the array.\n4. Every string value must be properly escaped for JSON.\n5. The output must be directly parseable by JSON.parse() with zero pre-processing.\n\nHere is the exam text:\n{{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a structured data extraction engine. You output only raw, valid JSON arrays — nothing else. You never use markdown, code fences, backticks, or any prose. You never explain your output. Your entire response is always a single valid JSON array that starts with '[' and ends with ']', directly parseable by JSON.parse() without any modification."
            }
          ]
        }
      },
      "id": "7a6a1c4b-3d40-4ff8-a1fc-9c38d6baf2be",
      "name": "LLM Chain - Parse Exam Questions",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        736,
        16
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "maxTokens": 4096,
          "temperature": 0
        }
      },
      "id": "80ed9981-78da-4772-990e-00115e639f2b",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        736,
        224
      ],
      "credentials": {
        "openAiApi": {
          "id": "NHkbV9ONIMPoQmK7",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// LLM Chain (typeVersion 1.4) returns its answer in json.text\nconst rawText = $input.first().json.text;\n\nif (!rawText || rawText.trim() === '') {\n  throw new Error('AI returned an empty response.');\n}\n\nlet questions;\ntry {\n  // Strip any accidental markdown code fences and surrounding whitespace\n  const cleaned = rawText\n    .replace(/^```(?:json)?\\s*/i, '')\n    .replace(/\\s*```$/i, '')\n    .trim();\n  questions = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error(`Failed to parse AI output as JSON: ${e.message}\\n\\nRaw output was:\\n${rawText}`);\n}\n\nif (!Array.isArray(questions)) {\n  throw new Error('Expected a JSON array of questions from the AI, got: ' + typeof questions);\n}\n\nif (questions.length === 0) {\n  throw new Error('AI returned an empty array — no questions were extracted.');\n}\n\n// Emit one item per question so downstream nodes process them individually\nreturn questions.map(q => ({\n  json: {\n    question:    String(q.question    ?? ''),\n    options:     Array.isArray(q.options) ? q.options : [],\n    answer:      q.answer    ?? null,\n    topic:       String(q.topic       ?? ''),\n    source_file: String(q.source_file ?? '')\n  }\n}));"
      },
      "id": "4b5a6170-1adf-4b37-80dc-ca067dc7481f",
      "name": "Parse Agent JSON Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        16
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "YOUR_PINECONE_INDEX_NAME",
          "mode": "list"
        },
        "options": {
          "clearNamespace": false
        }
      },
      "id": "22cc427c-e1b9-4eb8-996c-18c9377ee275",
      "name": "Upsert to Pinecone",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        1168,
        16
      ],
      "credentials": {
        "pineconeApi": {
          "id": "n1sIQXfzqRX0pFOl",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "fcd57121-9425-4bfd-b7ca-046994c0e227",
      "name": "OpenAI Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        1168,
        224
      ],
      "credentials": {
        "openAiApi": {
          "id": "TRt45Bta63YCdYDU",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "chunkSize": 2000,
        "chunkOverlap": 100,
        "options": {}
      },
      "id": "e5f6a7b8-c9d0-4e1f-a2b3-c4d5e6f7a8b9",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1168,
        624
      ]
    },
    {
      "parameters": {
        "dataType": "json",
        "jsonData": "={{ $json.question }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "options",
                "value": "={{ JSON.stringify($json.options) }}"
              },
              {
                "name": "answer",
                "value": "={{ $json.answer ?? '' }}"
              },
              {
                "name": "topic",
                "value": "={{ $json.topic }}"
              },
              {
                "name": "source_file",
                "value": "={{ $json.source_file }}"
              }
            ]
          }
        }
      },
      "id": "d4e5f6a7-b8c9-4d0e-a1f2-b3c4d5e6f7a8",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1168,
        432
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download PDF from Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF from Drive": {
      "main": [
        [
          {
            "node": "Extract Text from PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text from PDF": {
      "main": [
        [
          {
            "node": "LLM Chain - Parse Exam Questions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Chain - Parse Exam Questions": {
      "main": [
        [
          {
            "node": "Parse Agent JSON Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Agent JSON Output": {
      "main": [
        [
          {
            "node": "Upsert to Pinecone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "LLM Chain - Parse Exam Questions",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Upsert to Pinecone",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Upsert to Pinecone",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6425e20e-2d18-4152-9f5a-22f60f04930e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1c61286bb8b8df284dd7e481a1243c9140b78b8b1a1e326f1465cd25160881b6"
  },
  "id": "DJscKfaCZUJBHLq8",
  "tags": []
}
